<configuration>
    <system.webServer>
        <!-- Set default document -->
        <defaultDocument>
            <files>
                <add value="college-baseball-app/dist/index.html" />
            </files>
        </defaultDocument>

        <!-- Configure Node.js -->
        <handlers>
            <add name="iisnode" path="node.mjs" verb="*" modules="iisnode"/>
        </handlers>

        <!-- URL Rewrite Rules -->
        <rewrite>
            <rules>
                <!-- API requests -->
                <rule name="API">
                    <match url="api/*" />
                    <action type="Rewrite" url="node.mjs"/>
                </rule>
                <!-- React app requests -->
                <rule name="ReactApp">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="college-baseball-app/dist/index.html" />
                </rule>
            </rules>
        </rewrite>

        <!-- Detailed error messages -->
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
