<configuration>
    <system.web>
        <!-- Detailed error messages for debugging -->
        <customErrors mode="Off" />
    </system.web>

    <system.webServer>
        <handlers>
            <!-- Configure Node.js for the API and React App -->
            <add name="iisnode" path="node.mjs" verb="*" modules="iisnode"/>
        </handlers>
        <rewrite>
            <rules>
                <!-- Redirect API requests to Node.js -->
                <rule name="API">
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/api/" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="node.mjs"/>
                </rule>
                <!-- Redirect all other requests to Node.js which will handle them appropriately -->
                <rule name="AllOtherRequests">
                    <match url=".*" />
                    <action type="Rewrite" url="node.mjs" />
                </rule>
            </rules>
        </rewrite>

        <!-- Detailed HTTP error messages for debugging -->
        <httpErrors errorMode="Detailed"></httpErrors>
    </system.webServer>
</configuration>
