<configuration>
    <system.web>
        <customErrors mode="Off" />
    </system.web>

    <system.webServer>
        <handlers>
            <add name="iisnode" path="dist/bundle.js" verb="*" modules="iisnode"/>
        </handlers>
        <rewrite>
            <rules>
                <rule name="API">
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/api/" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="dist/bundle.js"/>
                </rule>
                <rule name="AllOtherRequests">
                    <match url=".*" />
                    <action type="Rewrite" url="dist/bundle.js" />
                </rule>
            </rules>
        </rewrite>

        <httpErrors errorMode="Detailed"></httpErrors>
    </system.webServer>
</configuration>
