html, body {
    margin: 0;
    padding: 0;
    background: black;
}

.input-search {
    position: relative;
    margin: 80px;
    display: flex;
    justify-content: center;
}

.input-search-bar {
    font: inherit;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 2px solid #fff;
    background-color: transparent;
    transition: outline-color 500ms;
}

.input-search-bar:is(:focus, :valid) {
    outline-color: #3c50eb;
}

.input-search-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    color: #fff;
    transition: translate 500ms, scale 500ms;
}

.input-search-bar:focus + .input-search-label, .input-search-bar:valid + .input-search-label {
    padding-inline: 5px;
    transform: translate(10px, -14px) scale(0.8);
    scale: 0.8;
    background-color: #000;    
}